table {
    width: 100%;
  }
  
.active{
    color:green;
}

.pending{
    color:black;
}

.userType{
    background-color: yellow;
}

.btnClose{
    margin:0 0 0 10px;
    background-color:red;
}

.btnAdd{
    float:right;
    background-color:blue;  
    margin:10px;
}

.mat-row:nth-child(even){
    background-color: grey;
}
        
.mat-row:nth-child(odd){
    background-color: #0110;
}